@import '../../styles/variables';
.BillsPage {
  .search-bar,
  .nav,
  .chambers {
    margin-bottom: 20px;
  }
  .main,
  .bill-container {
    background-color: lighten($main-bg, 35%);
    min-height: 100%;
  }
}