@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700,900');

.Vote {
  font-family: Merriweather;
  margin-bottom: 2em;
  .panel {
    h1 {
      margin-top: 0;
    }
  }
  .panel-heading {
    padding: 0;
    h3 {
      margin: 4px 0 0 15px;
      margin-top: 4px;
    }
    .close {
      padding: 5px 10px;
    }
  }
  .panel-body {
    h2 {
      margin-top: 0;
      line-height: 1.5em;
    }
  }
  .panel-footer {
    padding: 0;
  }
}