@import '../../styles/variables';
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700,900');

.IndividualBillPage {
  font-family: Merriweather;
  p {
    font-size: 18px;
  }
  .col-xs-12 {
    box-shadow: $box-shadow;
    border-radius: 2px;
    background-color: lighten($main-bg, 45%);

  }
  .bill-title {
    padding-bottom: 10px;
    h2 {
      font-weight: 900;
      line-height: 1.5em;
    }
    .bill-number {
      background-color: $bill-number;
      border-radius: 8px;
      border: 1px solid darken($bill-number, 10%);
      padding: 10px;
      margin: 0;
      margin-top: 10px;
    }
  }
  .bill-body {
    .col-xs-12 {
      margin-top: 20px;
      padding-bottom: 20px;
      &:last-child {
        margin-bottom: 20px;
      }
    }
    .section-heading {
      font-weight: 700;
      border-bottom: 2px solid $bill-number;
      padding: 10px;
      margin: 20px -15px;
      margin-top: 0;
      background-image: linear-gradient(lighten($main-bg, 40%), lighten($main-bg, 30%), lighten($main-bg, 40%));
    }
    .activities {
      max-height: 400px;
      overflow: auto;
      padding-top: 20px;
    }
  }
}