@import '../../styles/variables';

.IndividualBillPage {
  p {
    font-size: 18px;
  }
  .col-xs-12 {
    box-shadow: 1px 2px 5px #0007;
    border-radius: 2px;
  }
  .bill-title {
    background-color: lighten($main-bg, 30%);
    padding-bottom: 10px;
    h2 {
    }
    .bill-number {
      background-color: $bill-number;
      border-radius: 8px;
      border: 1px solid darken($bill-number, 10%);
      padding: 10px;
      margin: 0;
      margin-top: 10px;
    }
  }
  .bill-body {
    .col-xs-12 {
      margin-top: 20px;
      padding-bottom: 20px;
      background-color: lighten($main-bg, 30%);
    }
    h3 {
      border-bottom: 2px solid $bill-number;
      width: 25%;
      padding: 10px;
      margin: 20px auto;
    }
    .committees {
    }
    .activity-container {
    }
    .activities {
      max-height: 400px;
      overflow: auto;
      background-color: #eee;
      padding-top: 20px;
    }
  }
}