@import '../../styles/variables';
.Ballot {
  button {
    width: 50%;
    margin-bottom: -1px;
  }
  .for {
    background-color: $for;
    border-color: darken($for, 10%);
  }
  .against {
    background-color: $against;
    border-color: darken($against, 10%);
  }
}