@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700,900');

.Home {
  font-family: Merriweather;
  width: 100%;
  margin-top: -71px;
  background: url(./img/america.svg) center no-repeat;
  background-size: 75%;
  background-color: #eee;
  height: 100%;
  .jumbotron {
    padding: 0;
  }
  .container {
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
  }
  h1 {
    font-size: 8em;
    font-weight: 900;
    text-shadow: 0 0 30px #fff;
  }
  p {
    font-weight: 900;
    background-color: #eee9;
    text-shadow: 0 0 15px #fff8;
  }
  ul {
    list-style: none;
    text-shadow: 0 0 15px #fff;
    margin: 0 auto;
    margin-top: 5em;
    padding: 0;
    li {
      background-color: #eee9;
      font-weight: 900;
      font-size: 2em;
      margin: 1em 0;
    }
  }
}
