@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700,900');

.Home {
  font-family: Merriweather;
  width: 100%;
  margin-top: -71px;
  background-color: #eee;
  height: 100%;
  .jumbotron {
    padding: 0;
  }
  .container-fluid {
    img {
      width: 40%;
    }
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
  }
  h1 {
    font-size: 7em;
    font-weight: 900;
  }
  p {
    font-weight: 900;
  }
  .home-footer {
    width: 100%;
    ul {
      list-style: none;
      margin: 0 auto;
      margin-top: 5em;
      padding: 0;
      li {
        display: inline;
        background-color: #eee9;
        font-weight: 900;
        font-size: 1.5em;
        &:not(:first-child):before {
          content: "\00b7";
          margin: 2em;
        }
      }
    }
  }
}
