.Home {
  background-color: lightblue;
  width: 100%;
  height: calc(100vh - 51px);
  margin-top: -30px;
  .jumbotron {
    padding: 0;
  }
  img {
    width: 50%;
    min-height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: .5;
    margin: 0 auto;
  }
  .container {
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;

  }
  h1 {
    font-size: 6em;
    font-weight: 800;
    text-shadow: 0 0 15px #fff;
  }
  p {
    font-weight: 600;
    text-shadow: 0 0 15px #fff;

  }
  ul {
    list-style-position: inside;
    text-shadow: 0 0 15px #fff;
    font-size: 1.25em;
    font-weight: 600;
    margin: 0 auto;
    margin-top: 5em;
    padding: 0;
  }
}
