.VoteTallyBar {
  .tally {
    width: 100%;
    text-align: center;
    border-radius: 4px;
    .for,
    .against {
      display: inline-block;
      color: white;
      min-width: 10%;
      max-width: 90%;
      padding: .5em;
    }
    .for {
      background-color: cornflowerblue;
      border-radius: 4px 0 0 4px;
    }
    .against {
      background-color: tomato;
      border-radius: 0 4px 4px 0;
    }
  }
}