@import '../../styles/variables';

.VoteTallyBar {
  .tally {
    width: 100%;
    text-align: center;
    border-radius: 4px;
    .for,
    .against {
      display: inline-block;
      color: white;
      min-width: 10%;
      max-width: 90%;
      padding: .5em;
    }
    .for {
      background-color: $for;
      border-color: darken($for, 20%);
      border-radius: 4px 0 0 4px;
    }
    .against {
      background-color: $against;
      border-color: darken($against, 20%);
      border-radius: 0 4px 4px 0;
    }
  }
}