.Bill {
  margin-bottom: 2em;
  .panel {
    h1 {
      margin-top: 0;
    }
  }
  .panel-heading {
    h3 {
      margin: 0;
      em {
        font-size: .75em;
      }
    }
  }
  .panel-body {
    h2 {
      margin-top: 0;
    }
  }
  .panel-footer {
    padding: 0;
    button {
      width: 50%;
    }
  }
}